<!doctype html>
<html>
<head>
   
<title>Westeros Travel Agency</title>

</head>
 <center>
     <img src="/img/logo2.png" alt="Logo place"><br>
     <blockquote>{{{fortune}}}</blockquote>
     <body>
{{{body}}}
</body>
</center>
</html>